[submodule "libesphttpd"]
	path = libesphttpd
	url = https://github.com/Spritetm/libesphttpd.git
[submodule "webif-pack"]
	path = webif-pack
	url = https://github.com/Smoothieware/webif-pack.git
	branch = master
